<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prison.name %>
</p>

<ul>
  <% @prison.criminals.each do |criminal| %>
    <li><%= criminal.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_prison_path(@prison) %> |
<%= link_to 'Back', prisons_path %>
